.nav-ul {
  margin: 0;
  padding: 5px;
  background-color: skyblue;
}

.nav-ul li {
  display: inline-block;
  padding: 10px;
}

.nav-ul li a {
  color: #fff;
  padding: 5px;
  text-decoration: none;
}

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: skyblue;
}

.register {
  margin: 0 auto;
  width: 300px;
  cursor: pointer;
}

.inputBox {
  display: block;
  margin: 25px 0;
  padding: 7px;
  width: 300px;
  border: 1px solid skyblue;
  border-radius: 3px;
}

.signupBtn {
  width: 100px;
  background-color: skyblue;
  border: 1px transparent;
  padding: 10px;
  border-radius: 3px;
}

.nav-right {
  text-align: right;
}

.logo {
  width: 40px;
  float: left;
  border-radius: 50%;
  margin-top: 4px;
  margin-left: 20px;
}
